form(method="post" action="/admin")
    table 
        tr
            td Username 
            td 
                input(type="text" name="username")
        tr 
            td Password 
            td 
                input(type="password" name="password")
        tr 
            td Confirm Password 
            td 
                input(type="password" name="confirm-password")
        tr 
            td Email 
            td 
                input(type="email" name="email")
        tr 
            td Zip Code 
            td 
                input(type="zipcode" name="zipcode")
        tr  
            td
            td
                input(type="submit" value="Register")