extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Make a request
    else 
        h1.greeting Welcome 
            span=name 
            |  to our website

append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 
    
block content
    .dashboard 
        .user 
            +message(opp, name)

    form(method="post" action="/registration")
        if registrations.length
            table
                tr
                th Username:
                th Email:
                each registration in registrations
                tr
                    td = registrations.username
                    td = registrations.email
        else
            p No registrations at the moment