extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Logged in as 
            span=name 
    else 
        h1.greeting Welcome 
            span=name 
            |  to our website

append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 
    li(style="float: left;")
        a(href="/admin") Admin

block content
    .dashboard 
        .user 
            +message(opp, name)

    table 
    form(method="post" action="/request")
            tr
                td 
                    input(type="submit" value=" Make a Request ")
    form(method="post" action="/requestview")
            tr
                td 
                    input(type="submit" value=" View Requests ")                 
    form(method="post" action="/donate")
            tr 
                td 
                    input(type="submit" value="Make a Donation")
    form(method="post" action="/notifications")
            tr 
                td
                    input(type="submit" value="Notifications")