extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting The sender and reciever have been matched
    else 
        h1.greeting The sender and reciever have been matched

append links 
    li(style="float: right;")
        a(href="/loggout") Logout 
    
block content
    .dashboard 
        .user 
            +message(opp, name)

    form(method="post" action="/done")
        table 
            tr 
                td
                td
                    input(type="submit" value="OK")